                                                                  <!--南栀微落网站建设群组提供本网站源码-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>2020-B-001</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="style/css/base.css">
	<link rel="stylesheet" href="style/css/index.css" />
	<script src="style/js/core.js"></script>
	<script language="Javascript">document.oncontextmenu=new Function("event.returnValue=false");document.onselectstart=new Function("event.returnValue=false");</script>
</head>
<body>
    <div class="container">
	    <div class="video-bg">
		     <video muted data-autoplay loop autoplay src="video/soul.mp4" class="video-tvc" id="video-tvc" data-object-fit>抱歉，您的浏览器不支持内嵌视频</video></div>
			     <div class="content">
				     <header class="header claerFloat">
			             <div class="header-left">
			                 <a href="/"><img src="images/logo.png" alt="logo" style="height: 60px;"></a>
			             </div>
			 <div class="header-right">
			 <ul class="header-links">
			 <li class="header-links-item"><a href="warpper/notice.html">官方公告</a></li>
			 <li class="header-links-item hover"><a>旗下站点</a>
			     <div class="menu">
				       <a href="https://www.lishiq.com">历史大全</a>
					   <a href="http://www.sishiwu.com">四十五资源网</a>
				 </div></li>
			<li class="header-links-item"><a href="https://idc.vesuo.cn">点击领取免费测试主机</a></li>
			<li class="header-links-item"><div class="unmute"></div></li>
			</ul>
			</div>
			</header>
			<div class="middle clearFloat">
			    <div class="slogan">
				    <img src="images/slogan.png" alt="slogan">
				</div>
				<div class="btn-list">
				    <a class="btn-primary icon-QRcode">
	                <img src="images/QRcode.png" alt="qrcode">
				</a>
				<div class="btn-primary">
				    <a class="btn-hover icon-qq btn-link" href="#"></a>
				</div>
				<div class="btn-primary">
				    <a class="btn-hover icon-emails btn-link" href="#">
				</a>
				</div>
				</div>
				</div>
	<footer class="footer">
	    <nav class="nav-warpper">
	        <span>    </span><a href="warpper/.html">         </a> 
	    </nav>
    <div class="feedback-info">
	       <p><span id="copyYear"></span>&nbsp;&copy;&nbsp;NANZHIWEILUO&nbsp;&nbsp;|&nbsp;2020-B-001&nbsp;|&nbsp; 南栀微落网站建设群组</p>
    <div class="Icon-box">
	             <img src="https://s3.pstatp.com/aweme/resource/web/static/image/gongan_d0289dc.png">
	             <a target="_blank" href="http://www.sishiwu.com">四十五资源网</a> 
	         </div>                                                                                                                                                        
	         </div>                                                                                                                                                                                                                                                                                                  
	</footer>
	</div>
	</div>	
    <script type="text/javascript">
    (function() {
    $(function() {
        $('#copyYear').text((new Date).getFullYear());
    })
    })();
    </script>
</body>	
	<script>var video = $('#video-tvc')[0];
    $('.unmute').click(function() {
        if ($(this).hasClass('mute')) {
            video.muted = true;
        }
        else {
            video.muted = false;
        }
        $(this).toggleClass('mute')
    })
    </script>
</html>